<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sesion</servlet-name>
        <servlet-class>servlet.sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resgistrar</servlet-name>
        <servlet-class>servlet.resgistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>out</servlet-name>
        <servlet-class>servlet.out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarP</servlet-name>
        <servlet-class>servlet.registrarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultah</servlet-name>
        <servlet-class>servlet.consultah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarHist</servlet-name>
        <servlet-class>servlet.GuardarHist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarCon</servlet-name>
        <servlet-class>servlet.registrarCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasarParamentros</servlet-name>
        <servlet-class>servlet.PasarParamentros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdicionPaciente</servlet-name>
        <servlet-class>servlet.EdicionPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarPersonal</servlet-name>
        <servlet-class>servlet.registrarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoConsulta</servlet-name>
        <servlet-class>servlet.HistoConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inspecciona</servlet-name>
        <servlet-class>servlet.Inspecciona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarSintoma</servlet-name>
        <servlet-class>servlet.BuscarSintoma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviar</servlet-name>
        <servlet-class>servlet.enviar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CabiaContra</servlet-name>
        <servlet-class>servlet.CabiaContra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>servlet.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Respaldo</servlet-name>
        <servlet-class>servlet.Respaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaReceta2</servlet-name>
        <servlet-class>servlet.GuardaReceta2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sesion</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resgistrar</servlet-name>
        <url-pattern>/resgistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>out</servlet-name>
        <url-pattern>/out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarP</servlet-name>
        <url-pattern>/registrarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultah</servlet-name>
        <url-pattern>/consultah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarHist</servlet-name>
        <url-pattern>/GuardarHist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarCon</servlet-name>
        <url-pattern>/registrarCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasarParamentros</servlet-name>
        <url-pattern>/PasarParamentros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdicionPaciente</servlet-name>
        <url-pattern>/EdicionPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarPersonal</servlet-name>
        <url-pattern>/registrarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoConsulta</servlet-name>
        <url-pattern>/HistoConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inspecciona</servlet-name>
        <url-pattern>/Inspecciona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarSintoma</servlet-name>
        <url-pattern>/BuscarSintoma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviar</servlet-name>
        <url-pattern>/enviar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CabiaContra</servlet-name>
        <url-pattern>/CabiaContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Respaldo</servlet-name>
        <url-pattern>/Respaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaReceta2</servlet-name>
        <url-pattern>/GuardaReceta2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
