*{
	margin: 0px;
	padding: 0px;
}

#encabezado{
	background-color: rgba(192,192,192,0.4);
	margin: 5px;	
	padding: 30px;
	text-align: center;
}

#cabeza{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #707070;
}

#link{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    background:  #1798cc ;
    font-weight:700; 
    color: white;
    border-radius: 3px;
}

#link:hover{
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    background:#10688c;
    font-weight:700; 
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
.datosPaciente{
	margin: 40px;
	padding: 20px;        
	background:white;
        border:2px solid  #6bb9ea;
        font-family: 'Roboto', sans-serif;
}


.formulario{
	margin: 15px;
	padding: 5px;
	/*border: none;*/
        border-color:  #0c466a ;
	background: white;
	font-family: 'Roboto', sans-serif;
}

.bloque{
	margin: 0px;
	padding: 10px;
	border-bottom: 5px solid ;
	border-color: rgba(192,192,192,0.3);
}

.area{
    max-width: 95%;
    resize: none;
    font-family: 'roboto';
}

.area:focus{
    border:2px solid #58ade5;
    transition:0.5s; 
}
.areatexto{
    margin-top: 15px; 
    padding: 10px;
    text-align: left;
    font-weight: 400;
    color: #203942;
    font-size: 18px;
}

#encuesta{
	margin: 10px;
	padding: 5px;
	display: block;
	text-align: center;
	font-size: 14px;
}

#titulo1{
	text-align: center;
	display: block;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(192,192,192,0.4);
	margin: 20px;
}

#titulo2{
	margin: 0px;
	text-align: center;
	display: block;
	font-size: 18px;
}

.table{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,255,0.3);
    margin: 8px;
    padding: 5px;
    width: 80%;
}

td,th{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,255,0.3);
    margin: 1px;
    padding:1px;
}

input[type=text]{
	width: 20%;
	height: 10%;
	padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: none;
        border-bottom: 2px solid ;
	border-color: rgba(0,0,255,0.3);
	background-color:white;
}

input:focus {
    border-bottom:2px solid  #236087 ;
    background-color: white ;
    transition:0.5s; 
}

.fecha{
    width: 15%;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    border-radius: 3px;
    border:1px solid;
}
.fecha:focus{
    border:2px solid  #236087 ;
    background-color: white ;
    transition:0.5s;
}
#number{
	width: 2%;
	margin: 8px;
	border: none;
        border-bottom: 2px solid ;
	border-color: rgba(0,0,255,0.3);
	background-color:white;
}

#number:focus{
    border-bottom:2px solid  #236087 ;
    background-color: white ;
    transition:0.5s;
}
#medico{
	margin: 0px;
	background-color:#ccd1d1;	
}

#medic{
	width: 50%;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background-color: white;
}

.formula input[type="radio"]{
	display: none;
}

.label{
	color: #212f3d;
	/*background: rgba(0,0,0,0.1);*/
	padding: 5px 15px 5px 51px;
	display: inline-block;
	position: relative;
	font-size: 1em;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.label:hover{
	background: rgba( 46, 134, 193 ,0.8);
}

.label:before{
	content: "";
	width: 17px;
	height: 17px;
	display: inline-block;
	background:none;
	border: 3px solid #0074D9;
	border-radius: 50%;
	position: absolute;
	left: 17px;
	top: 3px;
}

.formula input[type="radio"]:checked + label{
	padding: 5px 15px;
	background:#0074D9;
	border-radius: 2px;
	color: white;
}

.formula input[type="radio"]:checked + label:before{
	display: none;
}

.habilitados{
    color:  #026db4; 
}

#boton{
    margin: 50px;
    border: 3px #212f3d;
    background: #026db4;
    margin: 50px;
    padding: 10px 55px;
    color: #f1f6f7;
    border-radius: 5px;
    text-decoration:none; 
    text-align: center;
}

#boton:hover{
    background: #063452;
    transition: 0.3s;
}

#contiene_tabla{
                margin-left: 5%;
                position: relative;
                margin-right: 5%;
                margin-bottom: 30px;    
            }
            #tabla{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 2%;
            }

            #tabla td, #tabla th{
                border: 1px solid #ddd;
                padding: 8px;
                position: relative;
            }

            #tabla tr:nth-child(even){background-color: #f2f2f2;}

            #tabla tr:hover {background-color: #ddd;}

            #tabla th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #54adfc;
                color: white;
            }