head, body {
    background-image: url(img/jj.png);
    font-family: 'Roboto', sans-serif;
}
.salir{
    background: orange;
    padding: 5px;
    width: 10%;
    text-align: center;
    margin-left:87%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.salir:hover{
    background:  #e74c3c;
    padding: 5px;
    width: 10%;
    text-align: center;
    margin-left:87%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: white;
}

.container1 {
	position: absolute;
	width: 18%;
	top: 180px;
	left: 1%;
}

.container2 {
	position: absolute;
	width: 18%;
	top: 180px;
	left: 41%;
}

.container3 {
	position: absolute;
	width: 18%;
        top: 180px;
	left: 21%;
}

.container4 {
	position: absolute;
	width: 18%;
	top: 180px;
	left: 81%;
}

.container5 {
	position: absolute;
	width: 18%;
	top: 180px;
	left: 61%;
}

.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.image3 {
  display: block;
  width: 100%;
  height: auto;
}

.image4 {
  display: block;
  width: 100%;
  height: auto;
}

.image5 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.overlay5 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.container1:hover .overlay1 {
  transform: scale(1)
}

.container2:hover .overlay2 {
  transform: scale(1)
}

.container3:hover .overlay3 {
  transform: scale(1)
}

.container4:hover .overlay4 {
  transform: scale(1)
}

.container5:hover .overlay5 {
  transform: scale(1)
}
.text1 {
  color: #1b2631;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text2 {
  color: #1b2631;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text3{
  color: #1b2631;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text4{
  color: #1b2631;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text5{
  color: #1b2631;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}