head,body{
               background:white;               
               font-family: 'Roboto', sans-serif;               
            }
            .contenedor{               
                margin-left:20%;
                margin-right:20%;
                background: #f7f7f7;
                border-radius:10px; 
                padding-left:15px;
                padding-top: 5px;
            }
            input[type=text]{
                width: 20%;
                height: 10%;
                padding: 10px 18px;
                margin: 0px 0;
                display: inline-block;
                border: none;               
                background:none;
                color: #294c4f;
                /*text-align: center;*/
                text-decoration: underline;
            }
            #Corto{
                width: 5%;
                height: 10%;
                padding:5px 10px;
                margin: 0px 0;
                display: inline-block;
                border: none;               
                background:none;
                color: #294c4f;
                /*text-align: center;*/
                text-decoration: underline;
            }
            .titulo{
                font-family: roboto;
                text-align: center;
                padding: 5px;
                color:  #212f3d ;
            }
            label{  
                font-family: roboto; 
                margin-top: 0px;
                margin: 5px;
                padding: 5px;                
            }
            .area{
                margin: 0px;
                max-width:60%;
                max-height: 60px;
                resize: none;
                font-family: 'roboto';
                color:#294c4f;
                text-align: left;                
                border: black;
                background:none;
            }
            .textarea{                
                margin-top: 0px; 
                padding: 5px;
                text-align: left;
                font-weight: 400;
                color:#294c4f;
                font-size: 18px;
                text-align: left;               
            }
            #link{
            text-decoration: none;
            padding: 3px;
            display: inline-block;
            background:  #1798cc ;
            font-weight:700; 
            color: white;
            border-radius: 3px;
            }

            #link:hover{
                text-decoration: none;
                padding: 3px;
                display: inline-block;
                background:#10688c;
                font-weight:700; 
                color: white;
                border-radius: 3px;
                transition: 0.3s;
            }
            #diagnostico{
                width: 50%;
                border: none;
                padding: 10px;      
            }
            
            
            #contiene_tabla{
                margin-left: 5%;
                position: relative;
                margin-right: 5%;
                margin-bottom: 30px;    
            }
            #tabla{
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 2%;
            }

            #tabla td, #tabla th{
                border: 1px solid #ddd;
                padding: 8px;
                position: relative;
            }

            #tabla tr:nth-child(even){background-color: #f2f2f2;}

            #tabla tr:hover {background-color: #ddd;}

            #tabla th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #54adfc;
                color: white;
            }
            .input1{              
               height:35px; 
               border: none;
               background: #418994;
               color: white;
               font-family: roboto;
               font-weight: 400;
               font-size: 20px;
               border-radius: 5px;
               cursor:pointer;
            }
            .Centro{
                background:  #d81f1f;
                margin-left:10%; 
                width: 80%;
                height:100%; 
            }
            #Boton1{
                border:none;
                width: 10%;
                height: 15px;
            }